<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.onlyhiedu.mobile">

    <application
        android:name=".App.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".UI.Home.activity.MainActivity"></activity>


        <!-- User -->
        <activity android:name=".UI.User.activity.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".UI.User.activity.RegActivity"/>
        <activity android:name=".UI.User.activity.FindPwdActivity"/>
        <activity android:name=".UI.User.activity.SmsLoginActivity">
        </activity>
        <activity android:name=".UI.Home.activity.AboutActivity"/>
        <activity android:name=".UI.Home.activity.MyInfoActivity"/>
        <activity android:name=".UI.Home.activity.SettingActivity"/>
        <activity android:name=".UI.Home.activity.ModifyPwActivity"/>
        <activity android:name=".UI.Home.activity.FeedBackActivity"/>
    </application>

</manifest>