<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.onlyhiedu.pro">

    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <!-- Required -->
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.READ_LOGS"/>
    <!-- 银联需要的权限 -->
    <uses-permission android:name="android.permission.NFC"/>

    <!-- 百度支付需要的权限 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.READ_SMS"/>
    <!--    <permission android:name="android.permission.ACCESS_DOWNLOAD_MANAGER"/>-->

    <!-- SDK 权限申明, 第三方 APP 接入时，请将 com.netease.nim.demo 替换为自己的包名 -->
    <!-- 和下面的 uses-permission 一起加入到你的 AndroidManifest 文件中。 -->
    <permission
        android:name="com.onlyhiedu.pro.permission.RECEIVE_MSG"
        android:protectionLevel="signature"/>
    <!-- 接收 SDK 消息广播权限， 第三方 APP 接入时，请将 com.netease.nim.demo 替换为自己的包名 -->
    <uses-permission android:name="com.onlyhiedu.mobile.permission.RECEIVE_MSG"/>

    <!-- 手机状态 -->
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />

    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />


    <!-- 多媒体 -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <application
        android:name=".App.App"
        android:allowBackup="false"
        android:icon="@mipmap/logoicon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:supportsRtl,android:allowBackup">

        <!-- 网络状态 -->
        <service android:name=".Service.NetworkStateService">
            <intent-filter android:priority="1000">
                <action android:name="com.onlyhiedu.mobile.Service.NetworkStateService"/>
            </intent-filter>
        </service>

        <!--UMENG -->
      <!--  <meta-data
            android:name="UMENG_CHANNEL"
            android:value="${UMENG_CHANNEL_VALUE}"/>-->

        <meta-data
            android:name="UMENG_APPKEY"
            android:value="591d1b53677baa102c00175c">
        </meta-data>
        <meta-data
            android:name="UMENG_MESSAGE_SECRET"
            android:value="25e92a031cccf6e3d941b9c9d857eb2c">
        </meta-data>
        <!--截图 n以上可能会跟 bugyly 冲突-->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.onlyhiedu.pro.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">

            <!--指定Uri的共享路径-->
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"/>

        </provider>

        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity
            android:name="com.umeng.qq.tencent.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data android:scheme="tencent1105946445"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.umeng.qq.tencent.AssistActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity android:name=".UI.Home.activity.KnowActivity"/>

        <!-- User -->
        <activity
            android:name=".UI.Home.activity.SplashActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".UI.User.activity.LoginActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan"/>
        <activity
            android:name=".UI.User.activity.SmsLoginActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan"/>
        <activity
            android:name=".UI.Home.activity.MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustPan"/>
        <activity android:name=".UI.User.activity.RegActivity"/>
        <activity android:name=".UI.User.activity.FindPwdActivity"/>
        <activity android:name=".UI.Setting.activity.AboutActivity"/>
        <activity android:name=".UI.Setting.activity.SettingActivity"/>
        <activity android:name=".UI.Setting.activity.ModifyPwActivity"/>
        <activity android:name=".UI.Setting.activity.FeedBackActivity"/>
        <activity android:name=".UI.Home.activity.KnowTitleActivity"/>
        <activity
            android:name="io.agore.openvcall.ui.ChatActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="landscape"/>
        <activity
            android:name="io.agore.openvcall.ui.ChatActivity2"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="landscape"/>

        <activity android:name=".UI.Info.activity.MyInfoActivity"/>
        <activity android:name=".UI.Consumption.activity.ConsumeActivity"/>
        <activity android:name=".UI.User.activity.TermServiceActivity"/>
        <activity android:name=".UI.Home.activity.HomeNewsWebViewActivity"/>
        <activity android:name=".UI.Course.activity.CourseDiscountActivity"/>
        <activity
            android:name=".UI.Home.activity.MineOrdersActivity"/>
        <activity android:name=".UI.Course.activity.OrderSucessActivity"/>
        <activity
            android:name=".UI.Course.activity.CoursePayActivity"
            android:windowSoftInputMode="stateUnspecified|adjustPan"/>

        <activity android:name=".UI.User.activity.BindActivity"/>
        <activity android:name=".UI.User.activity.OpenIDActivity">
        </activity>
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
           />


        <!-- Ping++ SDK -->
        <activity
            android:name="com.pingplusplus.android.PaymentActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.Translucent.NoTitleBar">
        </activity>
        <!-- 微信支付 -->
        <!-- 1.需要将以下"替换成自己 APK 的包名"换成在微信平台上注册填写的包名 -->
        <!-- 2.WxPayEntryActivity 这个类在 SDK 内部实现，开发者不需要额外实现该类 -->
        <activity-alias
            android:name=".wxapi.WXPayEntryActivity"
            android:exported="true"
            android:targetActivity="com.pingplusplus.android.PaymentActivity"/>

        <!-- 支付宝 -->
        <activity
            android:name="com.alipay.sdk.auth.AuthActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:exported="false"
            android:screenOrientation="behind">
        </activity>


        <!-- 银联支付 -->
        <activity
            android:name="com.unionpay.uppay.PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"/>
        <activity android:name=".UI.Course.activity.BaiduWalletWebViewActivity"/>
        <activity android:name=".UI.Course.activity.LenderActivity"/>
        <activity android:name=".UI.Course.activity.EvaluateActivity"/>
        <activity android:name=".UI.Setting.activity.DeviceTestActivity"/>

        <!-- 广播注册 -->
        <receiver android:name=".receiver.InstallReceiver">
            <intent-filter android:priority="20">
                <action android:name="android.intent.action.DOWNLOAD_COMPLETE"/>
            </intent-filter>
        </receiver>

        <!--云信-->

        <!-- APP key, 可以在这里设置，也可以在 SDKOptions 中提供。
                   如果 SDKOptions 中提供了，取 SDKOptions 中的值。 -->
        <meta-data
            android:name="com.netease.nim.appKey"
            android:value="key_of_your_app" />

        <!-- 云信后台服务，请使用独立进程。 -->
        <service
            android:name="com.netease.nimlib.service.NimService"
            android:process=":core"/>

        <!-- 云信后台辅助服务 -->
        <service
            android:name="com.netease.nimlib.service.NimService$Aux"
            android:process=":core"/>

        <!-- 云信后台辅助服务 -->
        <service
            android:name="com.netease.nimlib.job.NIMJobService"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:process=":core"/>

        <!-- 云信监视系统启动和网络变化的广播接收器，保持和 NimService 同一进程 -->
        <receiver android:name="com.netease.nimlib.service.NimReceiver"
                  android:process=":core"
                  android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
            </intent-filter>
        </receiver>

        <!-- 云信进程间通信 Receiver -->
        <receiver android:name="com.netease.nimlib.service.ResponseReceiver"/>

        <!-- 云信进程间通信service -->
        <service android:name="com.netease.nimlib.service.ResponseService"/>

        <!-- 云信进程间通信provider -->
        <!-- android:authorities="{包名}.ipc.provider", 请将com.netease.nim.demo替换为自己的包名 -->
        <provider
            android:name="com.netease.nimlib.ipc.NIMContentProvider"
            android:authorities="com.onlyhiedu.pro.ipc.provider"
            android:exported="false"
            android:process=":core" />

        <!-- 申明本地电话状态（通话状态）的广播接收器，第三方APP集成时音视频模块时，如果需要在App中处理网络通话与本地电话的交互请加上此接收器 -->
        <!-- 在Demo的示例代码中是在Application进行了网络通话与本地电话的互斥处理 -->
        <receiver android:name="com.onlyhiedu.pro.IM.avchat.receiver.IncomingCallReceiver">
            <intent-filter>
                <action android:name="android.intent.action.PHONE_STATE" />
            </intent-filter>
        </receiver>

<activity android:name=".IM.avchat.activity.AVChatActivity"
          android:screenOrientation="portrait"
>
</activity>
<activity android:name=".IM.chatroom.activity.ChatRoomActivity"
          android:screenOrientation="portrait"
          android:theme="@style/AppTheme.NoActionBar"
          android:windowSoftInputMode="stateHidden|adjustResize"
/>
<activity android:name=".IM.session.search.DisplayMessageActivity"
          android:configChanges="keyboardHidden|orientation"
          android:screenOrientation="portrait"
          android:theme="@style/AppTheme.NoActionBar"
          android:windowSoftInputMode="stateHidden|adjustResize"
/>
<activity android:name=".IM.session.search.SearchMessageActivity"
          android:configChanges="keyboardHidden|orientation"
          android:screenOrientation="portrait"
          android:theme="@style/global_search_bg"
          android:windowSoftInputMode="adjustPan|stateUnspecified"
/>

     <!-- <activity android:name=".IM.avchat.activity.AVChatActivity"
                android:launchMode="singleInstance"
                android:screenOrientation="portrait"
                android:theme="@style/FullScreenTheme"
                android:windowSoftInputMode="stateAlwaysHidden"
      />-->

        <activity android:name=".IM.session.activity.FileDownloadActivity"
                  android:configChanges="keyboardHidden"
                  android:theme="@style/AppTheme.NoActionBar"
        />
        <activity android:name=".IM.session.activity.WatchSnapChatPictureActivity"

                  android:configChanges="keyboardHidden"
                  android:theme="@style/AppTheme.NoActionBar"
        />


        <activity
            android:name="com.netease.nim.uikit.business.team.activity.AdvancedTeamCreateAnnounceActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustResize"

        />

        <activity android:name=".IM.team.activity.AdvancedTeamSearchActivity"
                  android:configChanges="keyboardHidden|orientation"
                  android:screenOrientation="portrait"
                  android:theme="@style/AppTheme.NoActionBar"
                  android:windowSoftInputMode="stateHidden|adjustResize"
        />

        <activity android:name=".IM.session.activity.MessageInfoActivity"
                  android:configChanges="keyboardHidden|orientation"
                  android:screenOrientation="portrait"
                  android:theme="@style/AppTheme.NoActionBar"
                  android:windowSoftInputMode="stateHidden|adjustResize"

        />

        <activity android:name=".IM.session.activity.MessageHistoryActivity"
                  android:configChanges="keyboardHidden|orientation"
                  android:screenOrientation="portrait"
                  android:theme="@style/AppTheme.NoActionBar"
                  android:windowSoftInputMode="stateHidden|adjustResize"

        />
        <activity android:name=".IM.contact.activity.BlackListActivity"
                  android:configChanges="orientation"
                  android:screenOrientation="portrait"
                  android:theme="@style/AppTheme.NoActionBar"
                  android:windowSoftInputMode="adjustUnspecified|stateHidden"
        />
        <activity android:name=".IM.contact.activity.UserProfileEditItemActivity"

                  android:configChanges="orientation"
                  android:screenOrientation="portrait"
                  android:theme="@style/AppTheme.NoActionBar"
                  android:windowSoftInputMode="adjustUnspecified|stateHidden"
        />
        <activity android:name=".IM.contact.activity.UserProfileSettingActivity"
                  android:configChanges="orientation"
                  android:screenOrientation="portrait"
                  android:theme="@style/AppTheme.NoActionBar"
                  android:windowSoftInputMode="adjustUnspecified|stateHidden"
        />

        <activity android:name=".IM.contact.activity.UserProfileActivity"
                  android:configChanges="orientation"
                  android:screenOrientation="portrait"
                  android:theme="@style/AppTheme.NoActionBar"
                  android:windowSoftInputMode="adjustUnspecified|stateHidden"
        />
        <activity android:name=".IM.contact.activity.AddFriendActivity"
                  android:configChanges="orientation"
                  android:screenOrientation="portrait"
                  android:theme="@style/AppTheme.NoActionBar"
                  android:windowSoftInputMode="adjustUnspecified|stateHidden"
        />

        <activity android:name=".IM.SettingsActivity"
                  android:configChanges="orientation"
                  android:screenOrientation="portrait"
                  android:theme="@style/AppTheme.NoActionBar"
                  android:windowSoftInputMode="stateAlwaysHidden"

        />

        <activity android:name=".IM.TeamListActivity"
                  android:configChanges="keyboardHidden|orientation"
                  android:screenOrientation="portrait"
                  android:theme="@style/AppTheme.NoActionBar"
                  android:windowSoftInputMode="stateHidden|adjustPan"
        />

        <activity android:name=".IM.SystemMessageActivity"
                  android:configChanges="keyboardHidden|orientation"
                  android:screenOrientation="portrait"
                  android:theme="@style/AppTheme.NoActionBar"
                  android:windowSoftInputMode="stateHidden|adjustResize"

        />

        <!--文件-->

        <activity android:name=".IM.file.browser.FileBrowserActivity"
                  android:configChanges="orientation"
                  android:label="@string/file_browser"
                  android:screenOrientation="portrait"
                  android:theme="@style/AppTheme.NoActionBar"
                  android:windowSoftInputMode="adjustUnspecified|stateHidden"

        />
    </application>

</manifest>