<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.onlyhiedu.mobile">

    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <!-- Required -->
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.READ_LOGS" />
    <!-- 银联需要的权限 -->
    <uses-permission android:name="android.permission.NFC" />
    <application
        android:name=".App.App"
        android:allowBackup="true"
        android:icon="@mipmap/logoicon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- 网络状态 -->
        <service android:name=".Service.NetworkStateService">
            <intent-filter android:priority="1000">
                <action android:name="com.onlyhiedu.mobile.Service.NetworkStateService"/>
            </intent-filter>
        </service>

        <!-- UMENG -->
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="${UMENG_CHANNEL_VALUE}"/>
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="591d1b53677baa102c00175c">
        </meta-data>
        <meta-data
            android:name="UMENG_MESSAGE_SECRET"
            android:value="25e92a031cccf6e3d941b9c9d857eb2c">
        </meta-data>

        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity
            android:name="com.umeng.qq.tencent.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data android:scheme="tencent1105946445"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.umeng.qq.tencent.AssistActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity android:name=".UI.Home.activity.KnowActivity"/>

        <!-- User -->
        <activity
            android:name=".UI.Home.activity.SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".UI.User.activity.LoginActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan"/>
        <activity
            android:name=".UI.User.activity.SmsLoginActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan"/>
        <activity
            android:name=".UI.Home.activity.MainActivity"
            android:windowSoftInputMode="adjustPan"
            android:launchMode="singleTask"/>
        <activity android:name=".UI.User.activity.RegActivity"/>
        <activity android:name=".UI.User.activity.FindPwdActivity"/>
        <activity android:name=".UI.Setting.activity.AboutActivity"/>
        <activity android:name=".UI.Setting.activity.SettingActivity"/>
        <activity android:name=".UI.Setting.activity.ModifyPwActivity"/>
        <activity android:name=".UI.Setting.activity.FeedBackActivity"/>
        <activity android:name=".UI.Home.activity.KnowTitleActivity"/>
        <activity
            android:name="io.agore.openvcall.ui.ChatActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="landscape"/>
        <activity
            android:name="io.agore.openvcall.ui.SettingsActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/label_settings"
            android:screenOrientation="portrait"/>
        <activity android:name=".UI.Info.activity.MyInfoActivity"/>
        <activity android:name=".UI.Consumption.activity.ConsumeActivity"/>
        <activity android:name=".UI.User.activity.TermServiceActivity"/>
        <activity android:name=".UI.Home.activity.HomeNewsWebViewActivity">
        </activity>
        <activity android:name=".UI.Course.activity.CourseDiscountActivity"/>
        <activity android:name=".UI.Home.activity.MineOrdersActivity"/>
        <activity
            android:name=".UI.Course.activity.CoursePayActivity"
            android:windowSoftInputMode="stateUnspecified|adjustPan"/>

        <!-- 环信 -->
        <activity android:name=".UI.Emc.ContactListActivity"
                  android:windowSoftInputMode="adjustPan"/>
        <!-- 聊天页面 -->
        <activity
            android:name=".UI.Emc.ChatActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"/>
        <!-- 添加好友 -->
        <activity
            android:name=".UI.Emc.AddContactActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateVisible"/>
        <!-- 群组详情 -->
        <activity
            android:name=".UI.Emc.GroupDetailsActivity"
            android:screenOrientation="portrait"/>

        <!-- 群组列表 -->
        <activity
            android:name=".UI.Emc.GroupsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"/>
        <!-- 聊天室详情 -->
        <activity
            android:name=".UI.Emc.ChatRoomDetailsActivity"
            android:screenOrientation="portrait"/>
        <!-- 新建聊天室 -->
        <activity
            android:name=".UI.Emc.NewChatRoomActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"/>

        <!-- 新建群组 -->
        <activity
            android:name=".UI.Emc.NewGroupActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"/>
        <!-- 退出群组提示框 -->
        <activity
            android:name=".UI.Emc.ExitGroupDialog"
            android:screenOrientation="portrait"/>
      <!--  android:theme="@style/MyDialogStyleBottom"-->

        <!-- 群组选人 -->
        <activity
            android:name=".UI.Emc.GroupPickContactsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name=".UI.Emc.PickAtUserActivity"
            android:screenOrientation="portrait"/>
        <!-- 地图 -->
        <activity
            android:name="com.hyphenate.easeui.ui.EaseBaiduMapActivity"
            android:screenOrientation="portrait"/>

        <!-- 新的朋友邀请消息页面 -->
        <activity
            android:name=".UI.Emc.NewFriendsMsgActivity"
            android:screenOrientation="portrait"/>
        <!-- 转发消息用户列表页面 -->
        <activity
            android:name=".UI.Emc.ForwardMessageActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"/>

        <!-- 自定义的contextmenu -->
        <activity
            android:name=".UI.Emc.ContextMenuActivity"
            android:screenOrientation="portrait"/>
   <!--     android:theme="@style/MyDialogStyle"-->
        <!-- 显示下载大图页面 -->
        <activity
            android:name="com.hyphenate.easeui.ui.EaseShowBigImageActivity"
            android:screenOrientation="portrait"/>
        <!-- 下载文件 -->
        <activity
            android:name="com.hyphenate.easeui.ui.EaseShowNormalFileActivity"
            android:screenOrientation="portrait"/>

        <!-- 黑名单 -->
        <!--
            <activity
            android:name=".UI.Emc.BlacklistActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide" />
        -->


        <!-- 公开的群聊列表 -->
        <activity
            android:name=".UI.Emc.PublicGroupsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name=".UI.Emc.PublicChatRoomsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"/>

        <!-- 群聊简单信息 -->
        <activity
            android:name=".UI.Emc.GroupSimpleDetailActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".UI.Emc.GroupSearchMessageActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateVisible"/>
        <activity
            android:name=".UI.Emc.EditActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateVisible"/>
        <activity
            android:name=".UI.Emc.SharedFilesActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.hyphenate.easeui.ui.EaseShowVideoActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden"/>
        <!-- choose video -->
        <activity
            android:name=".UI.Emc.ImageGridActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden"/>
        <activity
            android:name=".UI.Emc.RecorderVideoActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden"/>
        <!-- user profile -->
        <activity
            android:name=".UI.Emc.UserProfileActivity"
            android:screenOrientation="portrait"/>

        <!-- 设置环信应用的AppKey -->
        <meta-data
            android:name="EASEMOB_APPKEY"
            android:value="1157170704115696#hiketangtest"/>
        <!-- 声明SDK所需的service SDK核心功能 -->
        <service
            android:name="com.hyphenate.chat.EMChatService"
            android:exported="true"/>
        <service
            android:name="com.hyphenate.chat.EMJobService"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE"/>
        <!-- 声明SDK所需的receiver -->
        <receiver android:name="com.hyphenate.chat.EMMonitorReceiver">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REMOVED"/>

                <data android:scheme="package"/>
            </intent-filter>
            <!-- 可选filter -->
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.USER_PRESENT"/>
            </intent-filter>
        </receiver>

        <activity android:name=".UI.User.activity.BindActivity"/>
        <activity android:name=".UI.User.activity.OpenIDActivity">
        </activity>
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>


        <!-- Ping++ SDK -->
        <activity
            android:name="com.pingplusplus.android.PaymentActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>
        <!-- 微信支付 -->
        <!-- 1.需要将以下"替换成自己 APK 的包名"换成在微信平台上注册填写的包名 -->
        <!-- 2.WxPayEntryActivity 这个类在 SDK 内部实现，开发者不需要额外实现该类 -->
        <activity-alias
            android:name=".wxapi.WXPayEntryActivity"
            android:exported="true"
            android:targetActivity="com.pingplusplus.android.PaymentActivity" />

        <!-- 支付宝 -->
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:exported="false"
            android:screenOrientation="behind" >
        </activity>
        <activity
            android:name="com.alipay.sdk.auth.AuthActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:exported="false"
            android:screenOrientation="behind" >
        </activity>

        <!-- 银联支付 -->
        <activity
            android:name="com.unionpay.uppay.PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"/>

    </application>

</manifest>